<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings file="">
		<clear />
		<add key="ServerID" value="AVAYA#Switch_Connection#Service_Type#AE_Service" />
		<add key="TSAPI login" value="tsuser" />
		<add key="Password" value="tspassword" />
		<add key="ApplicationName" value="TSAPIDemo" />
		<add key="ApiVersion" value="TS2" />
	</appSettings>
	<startup>

		<supportedRuntime version="v2.0.50727"/>
	</startup>
</configuration>
